
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main View</h2>
<div ng-app="">
    {{"Angular loaded"}}
</div>

@(Html.Kendo().Button()
        .Name("primaryTextButton")
        .HtmlAttributes(new { type = "button", @class = "k-primary" })
        .Content("Primary Button"))

@Scripts.Render("~/bundles/Modules/Main")