
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main View</h2>
<div ng-app="mainApp" ng-controller="mainController">
    {{"Value from controller: " + testVar}}
    <br/>
    <input type="button" id="mybtn" class="k-primary k-button" value="Click Me" ng-click="showHello()"/>
    <input id="datepicker" value="10/10/2011" title="datepicker" />

    @Scripts.Render("~/bundles/Modules/Main")
</div>

@section scripts{
        <script>
            jQuery('#datepicker').kendoDatePicker();
            jQuery('#mybtn').kendoButton();
        </script>
    }